<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Damien Forthomme">
    <link rel="icon" href="../../favicon.ico">

    <title>GetMeThere</title>

    

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="../static/css/cover.css" rel="stylesheet">-->
    
    <!-- Bootstrap stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">-->

    <!-- ClockPicker Stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="../dist/bootstrap-clockpicker.css">-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

    <script type="text/javascript" src='../static/js/jquery.min.js'></script>
    <!-- jQuery and Bootstrap scripts -->
    <!--<script type="text/javascript" src='../assets/js/jquery.min.js'></script> -->
    <!--<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>-->

    <!-- ClockPicker script -->
    <!--<script type="text/javascript" src="../dist/bootstrap-clockpicker.min.js"></script>-->

    
    
    
    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GetMeThere</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/slides">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <br><br> 
   ​
    <!--<div id="bg">
        <img src='../static/Images/bgPic.jpg'>
    </div>-->
    
  <div class="container"> 
    <div class="starter­template"> 
        <h2 class = 'text-center' style='color:yellow'>GetMeThere</h2> 
    </div> 
    
    <div class='text-center'>
        <img class='resize' src="../static/Images/Damien.jpg"/>
        <span class="caption" style='text-align: justify; background-color:rgba(0,0,0,0.8); color:white'>
            <h3>Hi, I am Damien, Insight fellow and GetMeThere is my project, designed to help people who wonder whether they should take the metro or a cab in NYC!</h3>
            <h3>Before Insight, I was a postdoc at the Brookhaven National Lab on Long Island, trying to understand at a very detailed level how small molecules in the gas phase interact with light and more particularly high resolution lasers. This included understanding the frequency of light at which molecules absorb and emit (molecular spectroscopy), how they interact with themselves or other molecules through collisions (molecular dynamics) and characterizing the lineshape of the signal (lineshape modeling).</h3>
            <h3>I have a PhD in Physics in the field of molecular spectroscopy from the University of New Brunswick in Canada, and a masters in Physics from the University Claude Bernard Lyon 1 in France.</h3>
        </span>
    </div>
<!--
    <div class = img-with-text>
        <img class = "resize" src = '../static/Images/Damien.jpg'/>
        <div><p>Hello, I am Damien, Insight fellow and CabOMetro is my project, to help people who wonder whether they should take the metro or a cab in NYC!</p></div>

    </div>
-->
    <br><br>
    <br><br>
    <br><br>
 
    <!--<script src="https://code.jquery.com/jquery­1.10.2.min.js"></script> 
    <script src="../static/js/bootstrap.min.js"></script> -->
 
  </div> <!­­ /.container­­> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="../dist/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
